<h4> default page </h4>





<table class="table">
	<thead>
		
	</thead>	
	<tbody>
		<tr dir-paginate="item in vm.data | itemsPerPage:5 "   class="animate-repeat">
			<td>{{item}}</td>

		</tr>
	</tbody>
</table>
 <dir-pagination-controls></dir-pagination-controls>
<ul>
	<li ng-repeat="item in vm.data">{{item}}</li>
</ul>

