<div class="container">

	<!-- Title  -->
	<div class="row">
		<div class="page-header">
		  <h1>Master AccountManage</h1>
		</div>
	</div>

	<!-- Submenu -->
	<div class="row">
		<ul class="nav nav-pills" style="float:right">
		  <li role="presentation" class="disabled"><button class="btn btn-primary" ng-click="vm.swtichToEditMode()">+</button></li>
		</ul>
	</div>

	<!-- alert section -->
	<div class="row">
		  <script type="text/ng-template" id="alert.html">
		    <div ng-transclude></div>
		  </script>
		<div class="col-md-6">
			<div class="fade-element-in" uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
		</div>
	</div>

	<!-- search criteria -->
	<div class="row fade-element-in" ng-if="!vm.IsEditMode && !vm.IsViewDetailMode">
		<h4>Search Criteria</h4>
		<br>
		<label class="col-sm-2 control-label">Search</label>
		<div class="col-md-2">
			<input type="text" class="form-control" ng-model="vm.keyword">
		</div>

	</div>


	<!-- view-detail -->
	<div class="row fade-element-in" ng-if="vm.IsViewDetailMode">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-remove" ng-click="vm.swtichToViewMode()" style="float:right"></span>
			<table class="table table-bordered">
				<tr>
					<td>Student No.</td>
					<td>{{vm.viewDetail.account_std_id}}</td>
				</tr>
				<tr>
					<td>FirstName</td>
					<td>{{vm.viewDetail.firstname}}</td>
				</tr>
				<tr>
					<td>LastName</td>
					<td>{{vm.viewDetail.lastname}}</td>
				</tr>
				<tr>
					<td>Gender</td>
					<td>{{vm.viewDetail.gender}}</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>{{vm.viewDetail.email}}</td>
				</tr>
				<tr>
					<td>Phone No.</td>
					<td>{{vm.viewDetail.phone_no}}</td>
				</tr>
				<tr>
					<td>created</td>
					<td>{{vm.viewDetail.created}}</td>
				</tr>
		</table>
		</div>
	</div>

	<!-- Editor -->
	<div class="row" ng-if="vm.IsEditMode" style="padding-top:20px">
		<div class="col-md-6">
			<form class="form-horizontal" name=frm>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountstdid.$touched && frm.accountstdid.$invalid}">
			    <label class="col-sm-4 control-label">Student No. <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="accountstdid" ng-model="vm.account.stdid" required>
			      <span ng-show="frm.accountstdid.$touched && frm.accountstdid.$invalid">The Student ID required .</span>
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountpassword.$touched && frm.accountpassword.$invalid}">
			    <label class="col-sm-4 control-label">Password <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control" name="accountpassword" ng-model="vm.account.password" required>
			      <span ng-show="frm.accountpassword.$touched && frm.accountpassword.$invalid">Password required .</span>
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="col-sm-4 control-label">Confirm Password <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="password" class="form-control" ng-model="vm.account.conpassword" ng-match="vm.account.password">
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountfname.$touched && frm.accountfname.$invalid}">
			    <label class="col-sm-4 control-label">First Name <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="accountfname" ng-model="vm.account.fname" required>
			      <span ng-show="frm.accountfname.$touched && frm.accountfname.$invalid">The First Name required .</span>
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountlname.$touched && frm.accountlname.$invalid}">
			    <label class="col-sm-4 control-label">Lastname Name <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="accountlname" ng-model="vm.account.lname" required>
			      <span ng-show="frm.accountlname.$touched && frm.accountlname.$invalid">The Last Name required .</span>
			    </div>
			  </div>
			  <div class="form-group">
			  	<label class="col-sm-4 control-label">Gender <span style="color:red">*</span></label>
			  	<div class="col-sm-8">
			  		<label class="radio-inline"><input type="radio" ng-model="vm.account.gender" value="m" checked>Male</label>
					<label class="radio-inline"><input type="radio" ng-model="vm.account.gender" value="f">Female</label>
			  	</div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountemail.$touched && frm.accountemail.$invalid}">
			    <label class="col-sm-4 control-label">Email <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="accountemail" ng-model="vm.account.email" required>
			      <span ng-show="frm.accountemail.$touched && frm.accountemail.$invalid">The Email required .</span>
			    </div>
			  </div>
			  <div class="form-group" ng-class="{ 'has-error': frm.accountphoneno.$touched && frm.accountphoneno.$invalid}">
			    <label class="col-sm-4 control-label">Phone No. <span style="color:red">*</span></label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="accountphoneno" ng-model="vm.account.phoneno" required>
			      <span ng-show="frm.accountphoneno.$touched && frm.accountphoneno.$invalid">The Phone No. required .</span>
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-4 col-sm-8">
			      <button  class="btn btn-default" ng-click="vm.save()">Save</button>
			      <button  class="btn btn-default" ng-click="vm.swtichToViewMode()">Cancel</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>


	<div class="row" style="padding-top:20px">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No.</th>
					<th>Std No.</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>	
			<tbody>
				<tr dir-paginate="i in vm.accountCollection | itemsPerPage:vm.dtPageSize | filter: vm.keyword " class="animate-repeat" current-page="vm.dtCurrentPage">
					<td>{{ ($index + 1) + (vm.dtCurrentPage - 1) * vm.dtPageSize}}</td>
					<td>{{i.account_std_id}}</td>
					<td>{{i.firstname}} {{i.lastname}}</td>
					<td>	
						<button class="btn btn-info" ng-click="vm.switchToViewDetail(i)">View</button>
						<button class="btn btn-primary" ng-click="vm.update(i)">Update</button>
						<button class="btn btn-danger" ng-click="vm.remove(i)" confirm="Are you sure, {{i.account_std_id}} {{i.firstname}} {{i.lastname}}?" >Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		 <dir-pagination-controls></dir-pagination-controls>
	</div>	




</div>