<div class="container" >

	<!-- Title  -->
	<div class="row">
		<div class="page-header">
		  <h1>Master JobCategory</h1>
		</div>
	</div>

	<!-- Submenu -->
	<div class="row">
		<ul class="nav nav-pills" style="float:right">
		  <li role="presentation" class="disabled"><button class="btn btn-primary" ng-click="vm.swtichToEditMode()">+</button></li>
		</ul>
	</div>

	<!-- alert section -->
	<div class="row">
		  <script type="text/ng-template" id="alert.html">
		    <div ng-transclude></div>
		  </script>
		<div class="col-md-6">
			<div class="fade-element-in" uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
		</div>
	</div>


	<!-- search criteria -->
	<div class="row fade-element-in" ng-if="!vm.IsEditMode && !vm.IsViewDetailMode">
		<h4>Search Criteria</h4>
		<br>
		<label class="col-sm-2 control-label">Job Category Name</label>
		<div class="col-md-2">
			<input type="text" class="form-control" ng-model="vm.keyword">
		</div>

	</div>

	<!-- view-detail -->
	<div class="row fade-element-in" ng-if="vm.IsViewDetailMode">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-remove" ng-click="vm.swtichToViewMode()" style="float:right"></span>
			<table class="table table-bordered">
				<tr>
					<td>jobcategoryname</td>
					<td>{{vm.viewDetail.category_job_name}}</td>
				</tr>
				<tr>
					<td>created </td>
					<td>{{vm.viewDetail.created}}</td>
				</tr>
		</table>
		</div>
	</div>


	<!-- Editor -->
	<div class="row fade-element-in" ng-if="vm.IsEditMode" style="padding-top:20px">
		<div class="col-md-5">
			<form class="form-horizontal">
			  <div class="form-group">
			    <label class="col-sm-4 control-label">Job Category Name</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" ng-model="vm.jobcategory.name">
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-4 col-sm-8">
			      <button  class="btn btn-default" ng-click="vm.save()">Save</button>
			      <button  class="btn btn-default" ng-click="vm.swtichToViewMode()">Cancel</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>


	<div class="row" style="padding-top:20px">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No.</th>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>	
			<tbody>
				<tr dir-paginate="i in vm.jobcategoryCollection | itemsPerPage:vm.dtPageSize | filter: vm.keyword " class="animate-repeat" current-page="vm.dtCurrentPage">
					<td>{{ ($index + 1) + (vm.dtCurrentPage - 1) * vm.dtPageSize}}</td>
					<td>{{i.category_job_name}}</td>
					<td>
						<button class="btn btn-info" ng-click="vm.switchToViewDetail(i)">View</button>	
						<button class="btn btn-primary" ng-click="vm.update(i)">Update</button>
						<button class="btn btn-danger" ng-click="vm.remove(i)" confirm="Are you want to remove, {{i.category_job_name}}?" >Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		 <dir-pagination-controls></dir-pagination-controls>
	</div>	




</div>