<div class="container">

	<!-- Title  -->
	<div class="row">
		<div class="page-header">
		  <h1>Master Job Sub Category</h1>
		</div>
	</div>

	<!-- Submenu -->
	<div class="row">
		<ul class="nav nav-pills" style="float:right">
		  <li role="presentation" class="disabled"><button class="btn btn-primary" ng-click="vm.swtichToEditMode()">+</button></li>
		</ul>
	</div>

	<!-- alert section -->
	<div class="row">
		  <script type="text/ng-template" id="alert.html">
		    <div ng-transclude></div>
		  </script>
		<div class="col-md-6">
			<div class="fade-element-in" uib-alert ng-repeat="alert in vm.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
		</div>
	</div>

	<!-- search criteria -->
	<div class="row fade-element-in" ng-if="!vm.IsEditMode && !vm.IsViewDetailMode">
		<div class="col-md-8">
			
		</div>
		<h4>Search Criteria</h4>
		<br>
		<label class="col-sm-2 control-label">Job Sub Category Name</label>
		<div class="col-md-2">
			<input type="text" class="form-control" ng-model="vm.keyword">
		</div>

	</div>


	<!-- view-detail -->
	<div class="row fade-element-in" ng-if="vm.IsViewDetailMode">
		<div class="col-md-4">
			<span class="glyphicon glyphicon-remove" ng-click="vm.swtichToViewMode()" style="float:right"></span>
			<table class="table table-bordered">
				<tr>
					<td>jobsubcategoryname</td>
					<td>{{vm.viewDetail.category_sub_job_name}}</td>
				</tr>
				<tr>
					<td>child of</td>
					<td>{{vm.viewDetail.category_job_name}}</td>
				</tr>
				<tr>
					<td>created </td>
					<td>{{vm.viewDetail.created}}</td>
				</tr>
		</table>
		</div>
	</div>



	<!-- Editor -->
	<div class="row fade-element-in" ng-if="vm.IsEditMode" style="padding-top:20px">
		<div class="col-md-5" >
			<form class="form-horizontal" name=frm>
			  <div class="form-group">
			    <label class="col-sm-4 control-label">Job Category Name</label>
			    <div class="col-sm-8">
				  <ui-select ng-model="vm.jobcategorySelected" theme="bootstrap">
		            <ui-select-match placeholder="Select or search a person in the list...">{{$select.selected.category_job_name}}</ui-select-match>
		            <ui-select-choices repeat="item in vm.jobcategorySelectList | filter: $select.search">
		              <div ng-bind-html="item.category_job_name | highlight: $select.search"></div>
		            </ui-select-choices>
		          </ui-select>
			    </div>
			  </div>
			  <div class="form-group"  ng-class="{ 'has-error': frm.jobsubcategoryname.$touched && frm.jobsubcategoryname.$invalid}">
			    <label class="col-sm-4 control-label">Job Sub Category Name</label>
			    <div class="col-sm-8">
			      <input type="text" class="form-control" name="jobsubcategoryname" ng-model="vm.jobsubcategory.name" required>
			      <span ng-show="frm.jobsubcategoryname.$touched && frm.jobsubcategoryname.$invalid">The job sub category name required .</span>
			    </div>
			    
			  </div>
			  <div class="form-group">
			    <div class="col-sm-offset-4 col-sm-8">
			      <button  class="btn btn-default" ng-click="vm.save()">Save</button>
			      <button  class="btn btn-default" ng-click="vm.swtichToViewMode()">Cancel</button>
			    </div>
			  </div>
			</form>
		</div>
	</div>


	<div class="row" style="padding-top:20px">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>No.</th>
					<th>Job</th>
					<th>Sub Job</th>
					<th></th>
				</tr>
			</thead>	
			<tbody>
				<tr dir-paginate="i in vm.jobsubcategoryCollection | itemsPerPage:vm.dtPageSize | filter: vm.keyword " class="animate-repeat" current-page="vm.dtCurrentPage" >
					<td>{{ ($index + 1) + (vm.dtCurrentPage - 1) * vm.dtPageSize}}</td>
					<td>{{i.category_job_name}}</td>
					<td>{{i.category_sub_job_name}}</td>
					<td>	
						<button class="btn btn-info" ng-click="vm.switchToViewDetail(i)">View</button>
						<button class="btn btn-primary" ng-click="vm.update(i)">Update</button>
						<button class="btn btn-danger" ng-click="vm.remove(i)" confirm="Are you sure, {{i.category_job_name}}?" >Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		 <dir-pagination-controls></dir-pagination-controls>
	</div>	




</div>